{% include 'top.jinja' %}
<title>{{title}}</title>
</head>
<body>
  {% include 'nav.jinja' %}
  <div class="container">
    <pre class="left">
      # Distinct navbars
      # Stars float left to right
      # Like reviews only once
      # ML integration
    </pre>
  </div>
  {% include 'footer.jinja' %}
    </body>
  </html>