{% include 'top.jinja' %}
  <title>New Review</title>
</head>
<body>
  {% include 'nav.jinja' %}
  <div class="container">
    <h1>{{message}}</h1>
    <a href="/" class="btn a_special">Go back</a>
    </div>
  {% include 'footer.jinja' %}
</body>
</html>